.idea

# Build outputs
build/
*.apk
*.zip
/release/

# Linux AppImage
/app/AppDir
/app/appimage-build

.refena_inspector/

/secrets

# FVM Version Cache
.fvm/

# OS files
.DS_Store
Thumbs.db
*.log
**/.gradle/
